

a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}


body {
    font-color: #1d1d1d;
    font-family: 'Roboto', sans-serif;
}

/* Global Styles
   ========================================================================== */
.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    display:block;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 200%;
    display: block;
}

/* Header
   ========================================================================== */
header {
    background-color: #1d1d1d;
    color:#fff;
    line-height: 50px;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

header h1 {
    margin: 0;
}

/* Medium screens */
@media all and (max-width: 800px) {
  nav ul {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  nav ul {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

nav {

}

nav ul {
    margin:0 0 0 20px; 
    padding:0;
}
nav ul li {
    display:inline; 
    margin:5px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    width: 100px;
}
nav ul li a:hover {
    font-weight: bold;
}


footer {
    background-color: #1d1d1d;
    color:#fff;
    line-height: 50px;
    display: block;
}




#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

section {
    flex-basis: 33%;
    min-width: 300px;
    flex-grow: 2;
    padding: 10px;
    box-sizing: border-box;
}

section:first-child {
    flex-basis: 66%;
    flex-grow:2;
}

article {
    display: block;
    padding: 10px;
}


p {
    line-height: 150%;
}