{% extends "base.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div id="posts" class="wrapper">
    {% for post in posts|slice(0, 10) %}
        <section>
            <h2><a href="pages/{{ post.metadata.slug }}/">{{ post.metadata.title|e }}</a></h2>
            {{ post.content|TruncateP(2)|raw }}
        </section>
    {% else %}
        No posts.
    {% endfor %}
    </div>
{% endblock %}