<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<script charset="utf-8" src="js/scripts.js"></script>-->
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header>
        <h1>My Blog</h1>
    </header>
    <nav>
      <ul>
          <li><a href="#">LINK 1</a></li>
          <li><a href="#">LINK 2</a></li>
          <li><a href="#">LINK 3</a></li>
      </ul>
    </nav>
    
    <div id="posts">
        <section>
            <h2>Featured Post</h2>
            <article>
                <h3>Article Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor eu sapien at lacinia. In hac habitasse platea dictumst. Proin nisi purus, fringilla vitae dictum at, dictum eu ipsum. Suspendisse ornare risus a nibh viverra convallis. Nunc velit nunc, feugiat et felis sed, blandit tincidunt ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec et porta sapien, id tempus tortor. Duis at tortor feugiat tellus lobortis eleifend quis sit amet nulla. Proin et posuere est, et facilisis urna. Aliquam vestibulum sem elit, quis vestibulum est placerat tristique. Aenean at erat a orci pulvinar sollicitudin non in lorem. Integer eu risus eget ante porttitor vulputate. Donec vestibulum vestibulum tellus id volutpat. Fusce sed egestas purus. Sed congue leo lacus, eu blandit arcu finibus eu. Nullam pellentesque, enim in tristique ullamcorper, leo enim hendrerit lectus, sed lacinia felis tellus sed risus.</p>
            </article>
        </section>
        <section>
            <h2>Section Title</h2>
            <article>
                <h3>Article Heading</h3>
                <p>Proin auctor sed arcu id euismod. Vivamus ultrices mauris vitae orci gravida, in vehicula nisl vestibulum. Suspendisse vulputate, odio quis tincidunt varius, nunc nunc facilisis sapien, in blandit dui sapien a turpis. Phasellus finibus massa vel leo scelerisque ullamcorper. Duis in urna mi. In hac habitasse platea dictumst. Nulla facilisis sapien laoreet viverra efficitur. Sed sollicitudin iaculis tellus, eget viverra massa feugiat a. Mauris est dui, semper a dui ut, rutrum volutpat ligula. Quisque tempus nec felis in condimentum. Suspendisse vulputate venenatis magna, ut fermentum urna tincidunt nec. Aenean finibus viverra laoreet.</p>
            </article>
        </section>
        <section>
            <h2>Section Title</h2>
            <article>
                <h3>Article Heading</h3>
                <p>Phasellus finibus dolor sit amet ante maximus efficitur. Praesent sit amet lacinia ex. Morbi varius erat semper maximus molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eu purus at dolor eleifend condimentum consequat sed quam. Suspendisse lectus ipsum, pretium quis purus a, venenatis scelerisque nunc. In ac pretium metus, in convallis ex. Pellentesque aliquet porta venenatis. Duis vestibulum eleifend ex eu hendrerit. Aliquam mattis facilisis turpis, tempor vehicula ipsum ultrices sed. Vivamus non laoreet metus. In tempor rhoncus ligula. Nunc diam purus, accumsan id imperdiet non, ultricies eget nisl. Donec tristique porta nulla vitae malesuada. Fusce congue enim sit amet justo semper euismod.</p>
            </article>
        </section>
        <section>
            <h2>Section Title</h2>
            <article>
                <h3>Article Heading</h3>
                <p>Sed volutpat semper molestie. Vivamus blandit dolor non lacus scelerisque fermentum. Etiam vulputate enim tortor, et accumsan nisl congue vitae. Sed pulvinar eros sem. Praesent molestie in augue et sodales. Sed pretium a quam quis elementum. Praesent quis elit laoreet, scelerisque quam vel, dictum lorem.</p>
            </article>
        </section>
        <section>
            <h2>Section Title</h2>
            <article>
                <h3>Article Heading</h3>
                <p>Mauris quis velit ac sem fringilla congue. Curabitur eget purus id dolor eleifend dignissim ut vel lorem. Ut quis auctor nisl, ut hendrerit dui. Etiam metus tellus, lobortis quis pretium molestie, suscipit vitae tortor. Quisque molestie lacus a ex sollicitudin semper. Morbi at pellentesque neque. Quisque vestibulum erat et congue dictum.</p>
            </article>
        </section>
    </div>
    
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>