{% extends "base.twig" %}
{% block title %}{{ meta["title"] }}{% endblock %}

{% block content %}
    <section id="singlePost" class="wrapper">
        <h1>{{ meta["title"] }}</h1>
        {{ content|raw }}
    </section>
{% endblock %}